
/* default*/
body{
  background-color: rgb(249, 249, 249);
  font-size: 1.8em;
  font-family: serif;
  text-align: justify;
}

#header-nav{
  background-color: white;
  border-radius: 0;
  border: 0;
}

#logoImg{
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0px;
}

#star-img{
  height: 20px;
  width: 20px;
}

.navbar-brand{
  padding-top: 25px;
}

.navbar-brand h1{

  font-family: 'Cormorant Upright';
  color: rgb(0, 0, 0);
  font-size: 1.8em;
  font-weight: 500;
  text-shadow: .5px .5px .5px rgb(119, 118, 102);
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.navbar-brand p{
  font-family: 'Cormorant Upright';
  margin-top: 15px;
  font-size: .7em;
  color: #000;
  text-transform: uppercase;
}

.navbar-brand p span{
  vertical-align: middle;
}

#nav-list{
  margin-top: 10px;
}

#nav-list a{
  color: rgb(69, 69, 69);
  text-align: center;
}

#nav-list a:hover{
  background: #E7E7E7;
}

#nav-list a span{
  font-size:1.2em
}
#glyphicon-name{
  font-family: 'Cormorant Upright';
}
#phone{
  margin-top: 5px;
}

#phone a{

  text-align: right;
  padding-bottom: 0px;
}
#phone div{
  font-family: 'Cormorant Upright';
  font-weight: 600;
  color: #212529;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -40px;
}

/* footer*/
.panel-footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: rgb(242, 229, 207);
}

.panel-footer .row{
  margin-bottom: 35px;
}

#hours, #address{
  line-height: 2;
}
#hours >span, #address > span{
  font-size: 1.3em;
}
#address p{
  color: #557c3e;
  font-size: .9em;
  line-height: 1.6;
}
#testimonials{
  font-style: italic;
}
#testimonials p:nth-child(2){
  margin-top: 25px;
}
/*end of footer*/

/*Home page*/
#call-btn > a{
  font-size: 1.5em;
  display: block;
  margin: 0 20px;
  padding: 10px;
  border: 2px solid rgb(228, 232, 240);
  background-color: rgb(184, 191, 196);
  color: black;
}

#xs-deliver{
  margin-top: 5px;
  font-size: .7em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.container .jumbotron{
  box-shadow: 0 0 50px rgb(228, 232, 240);
  border: 2px solid rgb(228, 232, 240);
  padding: 0px 0px;
}

#menu-tile,#specials-tile,#map-tile{
  height: 250px;
  width:100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid rgb(228, 232, 240);
  overflow: hidden;
}

#menu-tile:hover,#specials-tile:hover,#map-tile:hover{
  box-shadow: 0 1px 5px 1px rgb(155, 169, 171);
}

#menu-tile{
  background: url("/image/menu.jpg") no-repeat;
  background-position: center;
}

#specials-tile{
  background: url("/image/special1.png") no-repeat;
  background-position: center;

}

#menu-tile span,#specials-tile span,#map-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'lora' serif;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .7;
}

/*end home page*/



@media (max-width: 992px){
  #collapsable-nav li{
    margin-top: 15px;
  }
  #collapsable-nav a{
      font-size: 1.2em;
    }
    #collapsable-nav a span{
      font-size: 1em;
      margin-right: 5px;
    }

}









/*large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container .jumbotron{
    background: url("/image/jumbotron3.jpg") no-repeat;
    height: 460px;
  }
 }


 /* Medium devices (desktops, 992px and up)*/
 @media (min-width: 992px) and (max-width: 1199px){
   #logoImg{
     width: 80px;
     height: 80px;
     margin: 5px 5px 5px 0px;
    }
    .container .jumbotron{
      background: url("/image/jumbotron3.jpg") no-repeat;
      height: 558px;
    }
 }

 /* Small devices (tablets, 768px and up)*/
 @media (min-width: 768px) and (max-width: 991px) {
   .container .jumbotron{
     background: url("/image/jumbotron3.jpg") no-repeat;
     height: 432px;
   }
  }

  /* Extra Small devices */
  @media (max-width: 767px)
  {
    .navbar-brand{
      padding-top: 10px;
      height: 80px;
    }
    .navbar-brand h1{
      padding-top: 10px;
      font-size: 4vw;
    }
    .navbar-brand p{
      text-transform: uppercase;
      font-size: .6em;
      margin-top: 12px;
    }
    .navbar-brand p img{
      height: 20px;
    }
    #menu-tile,#specials-tile,#map-tile{
      height: 200px;
      width: 93%;
      margin: 0 auto 15px;
    }
    .container .jumbotron{
      padding: 0px 0px;
    }
    /*footer*/
    .panel-footer section{
      margin-bottom: 30px;
      text-align: center;
    }
    .panel-footer section:nth-child(3){
      margin-bottom: 0;
    }

    .panel-footer hr{
      width: 50%;
    }
    /*end of footer*/
  }

  /* Super extra small*/
  @media (max-width: 479px){
    .navbar-brand h1{
      font-size: 6vw;
    }
  }
